/*---Basic Setup---*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*---Reusable Components---*/
.row {
    width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 1%;
    margin-top: 40px;
}
/*---Headings---*/
h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    color: aliceblue;
    font-size: 240%;
    word-spacing: 4px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 20px;
}

h3 {
    letter-spacing: auto;
    font-size: 110%;
    margin-bottom: 10px;
    padding-top: 10px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 15px;
    content: " ";
    width: 100px;
}
/*---Header---*/
header {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*---Paragraphs---*/
.box p {
    font-size: 90%;
    padding-bottom: 0;
}

.long-copy {
    width: 70%;
    margin-left: 15%;
    padding-bottom: 40px;
}

/*---Section Features---*/
.section-features {
    background-size: cover;
    padding-top: 80px;
}

.section-features h2 {
    padding-top: 0px;
}

/*---Icons---*/
.icon-big {
    font-size: 250%;
    color: #e67e22;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 10px;
}

/*---Links---*/

a:link,
a:visited {
    text-decoration: none;
    color: #e67e22;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.2s, color 0.2s;
}

a:active,
a:hover {
    color: #555;
    border-bottom: 1px solid transparent; 
}
/*---Buttons---*/
.btn:link,
.btn:visited {
    border-radius: 200px;
    padding: 10px 18px;
    text-decoration: none;
}

.btn-full:link,
.btn-full:visited {
    border: 1px solid #e67e22;
    background-color: #e67e22;
    color: aliceblue;
    margin-right: 15px; 
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active {
    transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.btn-full:hover,
.btn-full:active {
    border-color: #bf6516;
    background-color: #bf6516;
}

.btn-ghost:hover,
.btn-ghost:active {
    border-color: #bf6516;
    background-color: #bf6516;
    color: aliceblue;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

/*---NAV---*/
.logo {
    height: 100px;
    width: auto;
    margin-top: 20px;
    float: left;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 40px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    font-size: 90%;
    text-transform: uppercase;
    color: aliceblue;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 8px 0;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/*---Meals Section---*/

.section-meals {
    padding-top: 70px;
    padding-bottom: 60px;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-img {
    width: 100%;
    margin: 0;
    background-color: #000;
    overflow: hidden;
}

.meal-img img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.1);
    transition: transform 0.5s, opacity 0.5s;
}

.meal-img img:hover {
    opacity: 1;
    transform: scale(1.03);
}

/*---How It Works---*/
.section-steps {
    background-color: #f4f4f4;
    padding-bottom: 80px;
}

.steps-box {
    margin-top: 30px;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}
.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    font-size: 150%;
    padding: 5px;
    float: left;
    margin-right: 25px;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/*---Cities Section---*/

.section-cities {
    padding-top: 40px;
    padding-bottom: 80px;
}

.city-img {
    height: auto;
    width: 100%;
}

.city-feature {
    margin-bottom: 10px;
}

/*---Testimonials---*/
.section-testimonials {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(img/back-customers.jpg);
    background-size: cover;
    color: aliceblue;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    letter-spacing: normal;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5%;
    left: -5%;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    border-radius: 50%;
    height: 45px;
    margin-right: 10px;
    vertical-align: middle;
}